.profile-container{
    margin-top: 15vh !important;
}

.profile-info-container{
    border-radius: 4px;
    background-color: #283227;
    color: #F8F8F8;
}

.data-infor{
    color: #F1E58B;
    font-size: 18px;
}

.delete-account-button{
    color: #F8F8F8;
    border-radius: 4px;
    background-color: #9a0000;
    padding: 10px;
}
.profile-buttons{
    display: flex;
    margin: 0;
    width: 100%;
}

.buttons{
    margin: 0;
    width: 100%;
    height: 55px;
    color: #283227;
    border: none;
    transition: 0.2s;
}
.buttons:hover{
    transition: 0.2s;
    background-color: #283227;
    color: white;
}
.buttons.active {
    background-color: #283227;
    color: white;
}
